.user-profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #3333;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: open-profile 0.5s ease-out;
  width: 100%;
  height: 100%;
  z-index: 3000;
}

.user-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.user-profile-header h2 {
    font-size: 1.1rem;
}

.settings-icon {
  cursor: pointer;
  color: #ffffff;
}

.my-journey-section {
  width: 100%;
  padding: 20px;
}

.my-journey-section h2 {
    color: #ffffff;
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.journey-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6eba82;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.journey-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3px;
  color: #fff;
  gap: 5px;
  width: 100%;
}

.journey-detail-title {
  font-size: 0.85rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
    .journey-detail-title {
        font-size: 0.67rem;
    }
}



@keyframes open-profile {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
    
}