* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f5f6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}




